version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:16.15.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - node-deps-v1-{{ .Branch }}-{{checksum "package-lock.json"}}
      - run:
          name: install packages
          command: npm ci
      - save_cache:
          key: node-deps-v1-{{ .Branch }}-{{checksum "package-lock.json"}}
          paths:
            - ~/.npm
      - run:
          name: Run Build
          command: npm run build
  deploy-prod:
    docker:
      - image: arvindr226/alpine-ssh
    steps:
      - checkout
      - run: ssh -oStrictHostKeyChecking=no -v $USER@$IP "./deploy_bot.sh"

workflows:
  deploy:
    jobs:
      - build
      - deploy-prod:
          filters:
            branches:
              only:
                - main
          requires:
            - build
